.productForm {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}
.product__form {
  max-width: 45em;
  padding: 2em;
  margin: 0 auto;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}
.form__group {
  margin: 1em 0;
}
.form__group input[type='text'],
.form__group textarea {
  border: 0;
  z-index: 1;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  border-radius: 0;
  display: block;
  width: 100%;
}

.form__group input[type='text']:focus,
.form__group input[type='text']:valid {
  outline: 0;
  border-bottom: 1px solid var(--clr-primary);
}

.form__group textarea:focus,
.form__group textarea:valid {
  outline: 0;
  border-bottom: 1px solid var(--clr-primary);
}

.uploadImage {
  width: 100%;
}

.card-img-top {
  object-fit: cover;
}

/* .text-center .btn:first-of-type {
  background: #f64749;
}

.text-center .btn:last-of-type {
  background: #146c43;
} */

.invalid-field {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--clr-secondary);
}

.product__form__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.product__form__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.product__form__title {
  text-align: center;
  text-transform: uppercase;
}

.product__form .product__form__img {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200px;
  border-radius: 3px;
  margin-top: 1em;
}
