.product {
  padding: 2em;
  margin: 0 auto;
  /* text-align: center; */
  box-shadow: var(--shadow);
  max-width: 20em;
  transition: transform 0.2s linear;
}

.product:hover {
  transform: translateY(-7px);
}

.product .product__img {
  max-width: 280px;
  overflow: hidden;
  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  max-height: 200px;
  border-radius: 3px;
  margin-top: 1em;
}

.product__description {
  margin-top: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.2em 0;
}

.product__name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__stack-item {
  width: 100%;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  color: var(--clr-fg-alt);
}

.product .link--icon {
  margin-left: 0.5em;
}
